<robot>
	<subsystem>
		<id>drivetrain</id>
		<components>
			<motor>
				<id>leftBack</id>
				<port>0</port>
				<type>spark</type>
			</motor>
			<motor>
				<id>rightBack</id>
				<port>1</port>
				<type>spark</type>
			</motor>
			<motor>
				<id>leftFront</id>
				<port>2</port>
				<type>spark</type>
			</motor>
			<motor>
				<id>rightFront</id>
				<port>3</port>
				<type>spark</type>
			</motor>
		</components>
	</subsystem>
	<controller>
		<id>xbox</id>
		<type>xbox</type>
		<port>0</port>
	</controller>
</robot>